/* ============================================= */
/*   Variables								     */
/* ============================================= */

/* Font Stacks */
$font-url-google		: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary 	: 'Lato','Helevtica Neue',Helevtica,Arial, sans-serif;
$font-family--secondary	: 'Helevtica Neue',Helevtica,Arial, sans-serif;

/* Font Weights */

$font-weight--thin			: 100;
$font-weight--light			: 300;
$font-weight--medium		: 400;
$font-weight--bold			: 700;
$font-weight--ultra-bold	: 900;

/* Text */
$base__font-size 	: 16px;
$base__line			: 24px;

/* Descriptive Base Colors */

$white				: #fff;
$black				: #0b0b0b;
$white				: #fff;
$color-primary		: #58e1c1;
$color-secondary	: #777;
$color-link			: #51ddfc;
$image-border		: #ccc; 

/*Project: Buttons colors */

$default	: $color-link;
$error		: #e4757a;
$info		: #927bc1;
$success	: #63cc82;
$warning	: #fd7856;

/* Media Queries Breakpoints*/

$mq-brkpoint: 768px;

/*Grid colors map*/

$grid-colors: (
  1 : #927bc1,
  2 : #fd7856,
  3 : #deb2ee,
  4 : #7ee6fd,
  5 : #88d9a0,
  6 : #4da2bb,
  7 : #ec9fa3,
  8 : #fd9f85,
  9 : #e4757a,
  10: #63cc82,
  11: #51ddfc,
  12: #80e8d1
); 



























